@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

body{
    background: linear-gradient(#fdf42d,#22c1c3);
    font-family:DM Sans;
}

.logo{
    display:flexbox
}

.tabla{
margin-top:26px;
}

.extra{
    margin-top:40px;
}

footer{
margin-top:30px;
}
